.mainpage{
    width: 100%;
    height: auto;
}
.homepage{
    width: 950px;
    background-color: antiquewhite;
    margin: auto;
    height: auto;
}
.link{
    padding: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.banner-image{
    width: 100%;
    height: 400px;

}
.product{
    width: 290px;
    height: 300px;
    margin: 13px;
    display: inline-block;
    border: 1px solid rgb(204, 203, 203);

}
.product-offer{
    width: 100%;
    height: 20%;
    
}
.product-image{
    width: 100%;
    height: 60%;
}
.pro-image{

    width: 100%;
    height: 100%;
}
.product-name{
    width: 100%;
    height: 20%;
    display: inline-flex;
    text-align: center;
    
}
.product-name div{
    width: 50%;
    text-align: start;
    margin: 10px;
}
.product-name div p{
    text-align: end;
    margin: 10px;
}
.product-name div p b{
    color: rgb(255, 0, 0);
}
.offerlogo{

    width: 100px;
}

.footer{
    width: 100%;
    height: 300px;

}
.footer-main{
    width: 100%;
    height: auto;
    background-color: rgb(104, 104, 104);
    color: aliceblue;
    

}
.footer-item{
    width: 23%;
    border: 1px solid rgb(213, 213, 213);
    margin: auto;
    

}
.inline-flex{
    display: inline-flex;

}

.detail-s-image{
    width: 40%;
}
.img-100{
    width: 100%;
}
.detail-s-shotimage{
    width: 70px;
    height: 70px;
}
.detail-s-allimage{
    width: 12%;
    background-color: rgb(169, 169, 169);
}

.detail-s-text{width: 40%;}