.mainpage{
    width: 100%;
    height: auto;
}
.homepage{
    width: 950px;
   
    margin: auto;
    height: auto;
}
.link{
    padding: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.banner-image{
    width: 100%;
    height: 400px;

}
.product{
    width: 290px;
    height: 300px;
    margin: 13px;
    display: inline-block;
    border: 1px solid rgb(204, 203, 203);

}
.product-offer{
    width: 100%;
    height: 20%;
    
}
.product-image{
    width: 100%;
    height: 60%;
}
.pro-image{

    width: 100%;
    height: 100%;
}
.product-name{
    width: 100%;
    height: 20%;
    display: inline-flex;
    text-align: center;
    
}
.product-name div{
    width: 50%;
    text-align: start;
    margin: 10px;
}
.product-name div p{
    text-align: end;
    margin: 10px;
}
.product-name div p b{
    color: rgb(255, 0, 0);
}
.offerlogo{

    width: 100px;
}

.footer{
    width: 100%;
    height: 300px;

}
.footer-main{
    width: 100%;
    height: auto;
    background-color: rgb(96, 60, 1);
    color: aliceblue;
    

}
.footer-item{
    width: 23%;
    border: 1px solid rgb(213, 213, 213);
    margin: auto;
    

}
.inline-flex{
    display: inline-flex;

}

.detail-s-image{
    width: 40%;
}

.detail-s-shotimage{
    width: 70px;
    height: 70px;
}
.detail-s-allimage{
    width: 12%;
    background-color: rgb(169, 169, 169);
}

.detail-s-text{width: 40%;}

.navbar1{
padding: 20px;

}
.navpagetop{
    width: 100%;
    height: auto;
    background-color: rgb(96, 60, 1);
  padding: 15px;

}
.navpagetop p{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.similar{
   background-color: rgb(201, 199, 199);
    align-items: center;
    justify-content: space-between;
   width: 100%;
}
.similar-product{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    margin-left: 10px;

}
.mid-pro{
    width: 70%;
margin: 20px;

overflow: hidden;
}
.left-arrow{

    width: 5%;
    height: 100%;
   
}
.left-arrow img{
    width: 100%;
}
.right-arrow img{
    width: 100%;
}
.right-arrow{
    width: 5%;
    height: 100%;
    width: 5%;
  

}
.similar-product img{
    width: 100%;
    height: 100%;
}