.main{
    width: 100%;
    height: 200px;
    background-color: aqua;
    border-radius: 20px;
}
.loginform{
    width: 400px;
    height: 500px;
    background-color: aqua;
    margin: auto;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
}
.loginform input ,button{
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    border: 0px;
    box-sizing: border-box;
}
.loginform h1{
    color: brown;
}
.register-div{
    width: 400px;
    height: 400px;
    background-color: aqua;
    margin: auto;

}
.detail-img{
    width: 90%;
    height: 300px;
   
    margin: 5%;
}

.detail-img img{
    width: 100%;
    height: 100%;
}


.detail-img1{
    width: 100%;
    height: 100px;
  
   margin-bottom: 10px;
   display: inline-flex;
}
.detail-img1 img{
    width: 100%;
    height: 100%;
}
.detail-img1-1{
    width: 20%;
    height: 80%;
   
   margin-bottom: 10px;
   margin: 10px;
}
.detail-text{
    width: 90%;
  
    margin: 5%;
}
.detail-text1{
    width: 100%;
  padding-bottom:20px ;
}

.detail-text2{
    width: 90%;
  
    margin: 5%;
}

.detail-text3{
    width: 100%;
  
    margin-left: 10px;
    display: inline-flex;
}
.detail-text3 p{
    margin: 5px;
    font-size: 12PX;
}

.detail-text4{
    width: 100%;
    margin-left: 10px;
    
}
.detail-card{
    width: 100%;
     margin: 5%;
}
.detail-card1{
    width: 100%;
   
}

.detail-card2{
    width: 100%;
    align-items: center;
    display: inline-flex;
}

.detail-card2-update-text{margin-right: 20px;}
.detail-card3{
    margin-top: 20px;
    width: 100%;
  
}

.detail-card4{
    width: 100%;
    margin-top: 10PX;
    align-items: center;
}
.detail-card2-btnsub,.detail-card2-btnadd{
    width: 30px;
 
    background-color: aqua;
    border: 0px;
    font-size: 30px;
    text-align: center;
    
}
.qtynum{
    text-align: center;
    width: 30px;
}
.qtynum1{
    text-align: center;
    padding: 10px;
    font-size: 20px;
}